<div class="d-flex pe-3">
  <input
    type="checkbox"
    class="btn-check"
    id="btn-check-outlined"
    autocomplete="off"
  />
  <label class="btn btn-outline-primary" for="btn-check-outlined"
    ><span id="light"><i class="far fa-sun"></i> Light</span
    ><span id="dark"><i class="fas fa-moon"></i> Dark</span></label
  >
</div>
