<% layout('layouts/boilerplate') %>
<%- include('../partials/leaflet') %>
<div id="chartdiv"></div>

<%- block('scripts').append('<script type="module" src="/js/map.js" charset="utf-8"></script>') %>
