<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Candidatos en el mundo EJS</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link
      rel="stylesheet"
      href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <link id="theme-style-link" rel="stylesheet" href="" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />

    <script src="/crddm/assets/js/geodatasource-cr.js"></script>

    <link
      rel="gettext"
      type="application/x-po"
      href="/crddm/languages/en/LC_MESSAGES/en.po"
    />
    <!-- <link
      rel="gettext"
      type="application/x-po"
      href="/crddm/languages/es/LC_MESSAGES/es.po"
    /> -->
    <!-- <link
      rel="gettext"
      type="application/x-po"
      href="languages/cs/LC_MESSAGES/cs.po"
    />
    <link
      rel="gettext"
      type="application/x-po"
      href="languages/da/LC_MESSAGES/da.po"
    />
    <link
      rel="gettext"
      type="application/x-po"
      href="languages/de/LC_MESSAGES/de.po"
    />
    <link
      rel="gettext"
      type="application/x-po"
      href="languages/en/LC_MESSAGES/en.po"
    />    
    <link
      rel="gettext"
      type="application/x-po"
      href="languages/fr/LC_MESSAGES/fr.po"
    />
    <link
      rel="gettext"
      type="application/x-po"
      href="languages/it/LC_MESSAGES/it.po"
    />
    <link
      rel="gettext"
      type="application/x-po"
      href="languages/ja/LC_MESSAGES/ja.po"
    />
    <link
      rel="gettext"
      type="application/x-po"
      href="languages/ko/LC_MESSAGES/ko.po"
    />
    <link
      rel="gettext"
      type="application/x-po"
      href="languages/ms/LC_MESSAGES/ms.po"
    />
    <link
      rel="gettext"
      type="application/x-po"
      href="languages/nl/LC_MESSAGES/nl.po"
    />
    <link
      rel="gettext"
      type="application/x-po"
      href="languages/pt/LC_MESSAGES/pt.po"
    />
    <link
      rel="gettext"
      type="application/x-po"
      href="languages/ru/LC_MESSAGES/ru.po"
    />
    <link
      rel="gettext"
      type="application/x-po"
      href="languages/sv/LC_MESSAGES/sv.po"
    />
    <link
      rel="gettext"
      type="application/x-po"
      href="languages/vi/LC_MESSAGES/vi.po"
    />
    <link
      rel="gettext"
      type="application/x-po"
      href="languages/zh-cn/LC_MESSAGES/zh-cn.po"
    />
    <link
      rel="gettext"
      type="application/x-po"
      href="languages/zh-tw/LC_MESSAGES/zh-tw.po"
    /> -->

    <script src="/crddm/assets/js/Gettext.js"></script>

    <!-- amChart Resources -->
    <!-- <script src="https://www.amcharts.com/lib/3/ammap.js"></script> -->
    <script
      src="https://cdn.amcharts.com/lib/4/core.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.amcharts.com/lib/4/maps.js"
      crossorigin="anonymous"
    ></script>
    <!-- <script src="//cdn.amcharts.com/lib/4/charts.js"></script> -->
    <script
      src="https://cdn.amcharts.com/lib/4/geodata/worldHigh.js"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.amcharts.com/lib/4/geodata/dominicanRepublicHigh.js"
      crossorigin="anonymous"
    ></script>

    <style>
      #chartdiv {
        width: 100%;
        height: 98vh;
      }
    </style>

    <link rel="stylesheet" href="/res/css/styles.css" />
  </head>
  <body>
    <!-- <h1>Candidatos</h1> -->

    <%- include('../partials/navbar') %>

    <input
      style="display: none"
      id="countries"
      class="form-control gds-cr-autocomplete"
      country-data-region-id="gds-cr-region"
      data-language="en"
      name="countries"
    />

    <input
      style="display: none"
      class="form-control gds-cr-region-autocomplete"
      id="gds-cr-region"
      name="region"
    />

    <!-- <div id="map"></div> -->
    <div id="chartdiv"></div>

    <footer><%- include('../partials/switchtheme') %></footer>
  </body>
  <script src="/js/global.js" charset="utf-8"></script>
  <script type="module" src="/js/map.js" charset="utf-8"></script>
</html>
