.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url('/res/img/bg/banner.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
}

.banner h2,
.banner p {
  color: #fff;
  z-index: 1;
}

.banner h2 {
  font-size: 90px;
  font-variant: small-caps;
  text-align: center;
  line-height: 1em;
}

.banner h2 span {
  font-weight: 900;
  color: var(--banner-font);
}

.banner .row {
  width: 70%;
  margin: 0;
  padding: 0;
}

.banner .card.candidate,
.banner .card.candidate .card-text {
  background: #eee;
  color: var(--black);
}

.banner .card.candidate .btn {
  background: var(--black);
}

.banner .card.recruiter {
  background: var(--banner-font);
}

.banner .card.recruiter .btn {
  background-color: var(--blue);
}
