body {
  margin: 0;
  margin-top: 100px;
  width: 100%;
  height: 100vh;
}

/* form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  padding-bottom: 2em;
}

fieldset {
  border: none;
  padding: 2rem 0;
  border-bottom: 3px solid #3b3b4f;
}

fieldset:last-of-type {
  border-bottom: none;
}

label {
  display: block;
  margin: 0.5rem 0;
}

input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

input,
textarea {
  border: 1px solid #0a0a23;
} */

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

input[type='file'] {
  padding: 1px 2px;
}

input[type='text']:disabled {
  background-color: #ccc;
}

#image-candidato {
  background-color: #ddd;
}

#chartdiv {
  margin: 0 auto;
  width: 80%;
  height: 80vh;
}

.img-small {
  height: 48px;
  max-height: 48px;
}

.navigation-container {
  position: relative;
}

.pagination-button-prev,
.pagination-button-next {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}

.pagination-button-prev {
  justify-content: start;
}
.pagination-button-next {
  justify-content: end;
}

.pagination-button-prev i,
.pagination-button-next i {
  font-size: 96px;
  transition: 0.5s;
}

.navigation-container::after,
.pagination-button-prev i {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
}

.navigation-container::after,
.pagination-button-next i {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
}
